---
layout: default
---

<div class="home">

  <!-- <h1 class="page-heading">Posts</h1> -->

  <a href="/about">About</a>
  <div>
    <a href="/projects">Projects</a>
    <ul style="padding-left:20px">
      <li><a href="#">Reading List</a></li>
      <li><a href="/projects/code">Code</a></li>
      <li><a href="/projects/craft">Craft</a></li>
    </ul>
  </div>
  
  <!--

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
