<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {% include anchor_headings.html html=content anchorBody="#" beforeHeading="true" %}
      </div>
    </div>

    <!-- {% include footer.html %} -->

  </body>

</html>
